*{
    margin: 0;
    padding: 0;
}
body{
    .banner{
        background-color: rebeccapurple;
        
    }
}
.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 500px;
    .introText{
        width: 400px;
        opacity: 0;
        transform: translateX(-80px);
        transition: 2s all ease;
    }
    .introImage{
        img{
            width: 400px;
            height: 400px;
        }
    }.introAppear{
        opacity: 1;
        transform: translateY(0px);
    }
}
